:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color:black;
  background-color: #242424;
  background-image: url('assets/whatsapp-background.png');
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body{
  margin: 0;
scroll-behavior: smooth;

}


@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}

/*///////////////

auth  


///////////////////////////////*/

.error{
  color:red;
   text-align: center;
    font-size:15px;
     font-weight: bold
}

.form input {
  height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(201, 199, 199);
  margin-bottom: 10px;
  margin-top: 5px;
  text-indent: 15px;
width: 100%;

}

.form label {
  font-weight: bold;
  color: rgb(29, 28, 28);

}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-left: 30%;
}

.form form{
  display: flex;
  flex-direction: column;
  align-items: center;
width: 100%;

}

form div{
  width: 100%;
}




.form h1 {
  margin-bottom: -10px;
}

.subtext {
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 40px;
}

.form ::placeholder {
  padding-left: 10px;
}

.form-btn {
  outline: none;
  width: 45%;
  min-width: 150px;
  background-color: #0ff4c6;
  padding: 5px;

  border-radius: 5px;
  font-weight: bold;
  margin-block: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
}


/* //////////////////
homepage



//////////////////////////// */

.openingPage{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align-last: center;

}

.openingPage p{
  width: 53%;
  background-color: rgb(139, 205, 250);
  padding: 5px;
  font-weight: bold;
text-align-last: left;
border-radius: 5px;
}
.home{
  display: flex;
  width: 100%;
}
.home img{
  cursor: pointer;
}


.chats{

  height: 100vh;

 min-width: 380px;
 width: 30%;
 background-color: white;
 
}



.chat{
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
justify-content: center;
width: 98%;
margin-left: 1%;
border: 1px solid lightgray;
border-top: none;

}

::-webkit-scrollbar{
width: 0.7rem;

}
::-webkit-scrollbar-track{
  background-color: white;
  margin-block: 5px;
  border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb{
   background-color: #101935; 
   border-radius: 100vw;
   border: 0.1rem solid white;
    }

@supports(scrollbar-color: #101935 white){

  * {
scrollbar-color: #101935 white;
scrollbar-width:auto;
  }
}

.chat:hover{
  background-color: #eef5f5;
  scale: 0.99;
}


 .profilePic{
  border-radius: 50%;
  margin: 0px 10px;
  width: 45px;
}
.chat .previewChat{
line-height: 0px;

}

.previewChat{

  margin-left: 5%;
  width: 100%;
}

.previewChat > div{
  display: flex;
   align-items:center;
   justify-content: space-between;
    width: 90%;

}

.unreadMessagesCount{
font-weight: bold;
  font-size: 12px;
display: flex;
align-items: center;
justify-content: center;
background-color: #0ff4c6;
border-radius: 50%; 
min-width: 18px;
height: 18px;
padding: 3px;
margin-bottom: 8px;

  
}


.currentChat{
  width: 100%;
  height: 100vh;
 display: flex;
 flex-direction: column;

}




.userNav{
  height: 55px;
  background-color:  #101935;
  color: #f2fdff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #f2fdff;
  font-size: 35px;
}

.userNav h2{
  font-size: 23px;
}
.options{

margin-right: 10px;
  color: #f2fdff;
cursor: pointer;
}
h2{
  cursor: pointer;
}

.searchBar{
width: 90%;
border: none;
height: 30px;
text-indent: 10px;
margin-block: 10px;
outline: none;
border-bottom: 1px solid #8789c0;
border-radius: 5px;
margin-left: 5%;
background-color: white;
}

.searchBar:focus{
  outline: 1px solid #8789c0;
}

.chatHeader{
  display: flex;
  height: 55px;
  background-color:  #101935;
  align-items: center;
  color: #f2fdff;
  justify-content: space-between;

}



     .chatHeader div:nth-of-type(1){
display: flex;
align-items: center;
     }


     .friendNameDiv{
      flex-grow: 1;
      margin-left: 10px;
line-height: 10px;
     }
.friendNameDiv p:nth-of-type(1){
 
  font-weight: bold;
  font-size: 18px;

}

.friendNameDiv p:nth-of-type(2){

  font-size: 12px;

}

.chatStarterMessage{
  text-align: center;
  font-size: 14px;
  background-color: #f2fdff;
  width: 50%;
  margin-left: 25%;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-inline: 5px;
}


.inputDiv{
width: 100%;
  background-color: rgb(233, 232, 232);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 5px;
  flex-shrink: 0;


  

 
}
.inputDiv form{
  width: 80%;
}
.inputDiv input{
width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-indent: 30px;
  font-size: 16px;

}

.inputDiv input:focus{
 
    outline: 1px solid gray;
   
  
  }
  .inputDiv img{
    width: 25px;
  }

  .chatHeader div:nth-of-type(2) img{
    width: 20px;
  }

/* ///// 
text body formatring
/////*/

.chatField{
   flex-grow: 1;
    overflow-y: auto;
     padding-inline: 30px 
}

.msgDiv{
display: flex;
align-items: center;
margin-bottom: -20px;
width:fit-content;
justify-content: space-between;
border-radius: 5px;
min-width: 100px;
max-width: 300px;
height: fit-content;

}

.sentMsg{  
margin-left: auto;
margin-right: 10px;

}
.recMsg{
margin-left: 10px;
}

.msgBody{
  font-weight: 540;
  font-size: 15px;
  word-wrap: break-word;
min-width: 100px;
border-radius: 5px;
 padding-right: 35px;

 padding: 5px 35px 12px 5px;
 
}

.time{
align-self: flex-end;
  font-size: 11px;
  color: grey;
margin-left: -35px;
  
}

/* add contact route */

.addContactDiv{

margin-top: 50px;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;

}

.addContactDiv input{
height: 30px;
width: 50%;
border: none;
text-indent: 5px;
border-radius: 5px;
}

.backIcon{
  align-self:flex-start;
   margin-left: 20px;
    margin-top: -30px; 
    margin-bottom: 50px;  
}
.addContactDiv input:focus{
  outline: 1px solid grey;
}

.addContactDiv button{
width: 15%;
font-size: 15px;
border-radius: 5px;
border: none;
padding: 5px;
background-color: black;
color: white;
}

.foundContact{
  display: flex;
justify-content: space-between;
align-items: center;
width: 25%;
margin-top: 20px;
border: 1px solid black;
padding-inline: 5px;
border-radius: 5px;
height: 50px;
}


/* emoji keyboard */

.emojiKeyboard{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  background-color: white;
  border-radius: 5px;
transition: all 1s ;
margin-left: 5px;
}

.emojiKeyboard div{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
 
}

.emojiKeyboard div>p{
  cursor: pointer;
}



/* media queries */
@media screen and (max-width:920px) {
  
  .form{

    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (max-width:768px) {
  
  .form{
 
    width: 67%;
    margin-left: 16.5%;
  }

  .chats{

 
    width: 60%;
    min-width: 320px;
    margin-left: 20%;
    
   }

   .addContactDiv input{

    width: 70%;

    }

    .addContactDiv button{
      width: 30%;
  
      }

}

@media screen and (max-width:550px) {


  .form{
 
    width: 80%;
    margin-left: 10%;
  }
  .chats{

 
   width: 100%;
   min-width: 200px;
margin-left: 0px;
   
  }

  .addContactDiv input{

    width: 80%;

    }

    .addContactDiv button{
      width: 25%;
  
      }

      .foundContact{
   
      width: 60%;
  
      }

      .backIcon{
         margin-left: 3%;
      }


      
.chatField{
    padding-inline: 5px
}

.msgDiv{
  max-width: 80%;

  }

  ::-webkit-scrollbar{
  display: none;
  }

  .msgBody{

    font-size: 14px;

   
  }
}


/* animations */


.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #101935;
  border-color: #101935 transparent #101935 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
