:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color:black;
  background-color: #242424;
  background-image: url('assets/whatsapp-background.png');
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
scroll-behavior: smooth;

}


@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}

/*///////////////

auth  


///////////////////////////////*/

.error{
  color:red;
   text-align: center;
    font-size:15px;
     font-weight: bold
}

.form input {
  height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(201, 199, 199);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  text-indent: 15px;

}

.form label {
  font-weight: bold;
  color: rgb(29, 28, 28);

}

.form {
  width: 76%;
  margin-left: 12.5%;
}


.form h1 {
  margin-bottom: -10px;
}

.subtext {
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 40px;
}

.form ::placeholder {
  padding-left: 10px;
}

.form-btn {
  outline: none;
  width: 60%;
  background-color: #ffd700;
  padding: 5px;
  margin-left: 20%;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
}

/* //////////////////
homepage



//////////////////////////// */

.openingPage{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align-last: center;

}

.openingPage p{
  width: 53%;
  background-color: rgb(139, 205, 250);
  padding: 5px;
  font-weight: bold;
text-align-last: center;
border-radius: 5px;
}
.home{
  display: flex;
  width: 100%;
}
.home img{
  cursor: pointer;
}


.chats{

  height: 100vh;

 min-width: 350px;
 width: 30%;
 background-color: white;
 
}



.chat{
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
justify-content: center;
width: 98%;
margin-left: 1%;
border: 1px solid lightgray;
border-top: none;

}

::-webkit-scrollbar{
width: 0.7rem;

}
::-webkit-scrollbar-track{
  background-color: white;
  margin-block: 5px;
  border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb{
   background-color: #101935; 
   border-radius: 100vw;
   border: 0.1rem solid white;
    }

@supports(scrollbar-color: #101935 white){

  * {
scrollbar-color: #101935 white;
scrollbar-width:auto;
  }
}

.chat:hover{
  background-color: #eef5f5;
  scale: 0.99;
}


 .profilePic{
  border-radius: 50%;
  margin: 0px 10px;
  width: 45px;
}
.chat .previewChat{
line-height: 0px;

}

.previewChat{
line-height: 0px;
  margin-left: 5%;
  width: 100%;
}

.previewChat div{
  display: flex;
   align-items:center;
   justify-content: space-between;
    width: 85%;
    margin-top: 7px;
}

.previewChat div :nth-child(2){
  color: grey;
}

.currentChat{
  width: 100%;
  height: 100vh;
 display: flex;
 flex-direction: column;

}




.userNav{
  height: 55px;
  background-color:  #101935;
  color: #f2fdff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #f2fdff;
  font-size: 35px;
}

.userNav h2{
  font-size: 23px;
}
.options{

margin-right: 10px;
  color: #f2fdff;
cursor: pointer;
}
h2{
  cursor: pointer;
}

.searchBar{
width: 90%;
border: none;
height: 30px;
text-indent: 10px;
margin-block: 10px;
outline: none;
border-bottom: 1px solid #8789c0;
border-radius: 5px;
margin-left: 5%;
background-color: white;
}

.searchBar:focus{
  outline: 1px solid #8789c0;
}

.chatHeader{
  display: flex;
  height: 55px;
  background-color:  #101935;
  align-items: center;
  color: #f2fdff;

}


.chatHeader div:nth-of-type(1){


 padding-left: 30px;
flex-grow: 1;

  }

.chatHeader div:nth-of-type(1) p:nth-of-type(1){
 
font-weight: bold;
font-size: 18px;
line-height: 5px;

}

.chatHeader div:nth-of-type(1) p:nth-of-type(2){
 

  font-size: 12px;
  line-height: 10px;
  }

  .chatHeader div:nth-of-type(2){

display: flex;
margin-right: 50px;
align-items: center;
justify-content: space-between;
width: 60px;
   
     }
.chatStarterMessage{
  text-align: center;
  font-size: 14px;
  background-color: #f2fdff;
  width: 50%;
  margin-left: 25%;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-inline: 5px;
}


.inputDiv{
width: 100%;
  background-color: rgb(233, 232, 232);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 5px;
  flex-shrink: 0;


  

 
}
.inputDiv form{
  width: 80%;
}
.inputDiv input{
width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-indent: 30px;
  font-size: 16px;

}

.inputDiv input:focus{
 
    outline: 1px solid gray;
   
  
  }
  .inputDiv img{
    width: 25px;
  }

  .chatHeader div:nth-of-type(2) img{
    width: 20px;
  }

/* ///// 
text body formatring
/////*/

.msgDiv{
display: flex;
align-items: center;
margin-bottom: -20px;
width:fit-content;
justify-content: space-between;
border-radius: 5px;
min-width: 100px;
max-width: 300px;
height: fit-content;

}

.sentMsg{  
margin-left: auto;
margin-right: 10px;
}
.recMsg{
margin-left: 10px;
}

.msgBody{
  font-weight: 540;
  font-size: 15px;
  word-wrap: break-word;
min-width: 100px;
border-radius: 5px;

 padding-right: 35px;

 padding: 5px 35px 12px 5px;

 
}

.time{
align-self: flex-end;
  font-size: 11px;
  color: grey;

margin-left: -35px;
  

  
}

/* add contact route */

.addContactDiv{

margin-top: 50px;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;

}

.addContactDiv input{
height: 30px;
width: 50%;
border: none;
text-indent: 5px;
border-radius: 5px;
}

.addContactDiv input:focus{
  outline: 1px solid grey;
}

.addContactDiv button{
width: 15%;
font-size: 15px;
border-radius: 5px;
border: none;
padding: 5px;
background-color: black;
color: white;
}

.foundContact{
  display: flex;
justify-content: space-between;
align-items: center;
width: 25%;
margin-top: 20px;
border: 1px solid black;
padding-inline: 5px;
border-radius: 5px;
height: 50px;
}


/* emoji keyboard */

.emojiKeyboard{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  background-color: white;
  border-radius: 5px;
transition: all 1s ;
margin-left: 5px;
}

.emojiKeyboard div{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
 
}

.emojiKeyboard div>p{
  cursor: pointer;
}

/* @media screen and (max-width:768px) {

  :root{
background-image: none;
color: red;

  }
} */